*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: sans-serif;
    color: white;
 }
 .toggle input{
    display: none;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: sans-serif;
    position: relative;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    padding:0;
    margin: -10px 0 0 0;
    list-style: none;
    text-align:right;
    position: absolute;
    right: 3%;
  }
  .nav-links li{
    list-style: none;
    display: inline-block;
  }
  .nav-links a{
    color:white;
    font-size:20px;
    padding:5px 15px;
    text-decoration: none;
    text-align:right;
    display: block;
  }
  .nav-links a:hover{
    background-color: white;
    color: black;
  }
  .bar{
    display: none;
  }
  .bar div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  @media screen and (max-width:1024px)  {
    .nav-links{
      width:60%;
    }
  }
  @media screen and (max-width:768px)  {
  body{
    overflow-x: hidden;
  }
    .nav-links{
      position: absolute;
      right: 0;
      height: 50vh;
      top:8vh;
      background: black;
      display: flex;
      flex-direction: column;
      align-items:center;
      width: 30%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 1;
    }
    .nav-links li{
      opacity: 0;
    }
    .toggle input:checked~.nav-links{
      transform: translateX(0);
    }
    .toggle input:checked~.nav-links li{
      opacity: 1;
      transition: 1s ease-in;
    }
    .bar{
      display: block;
    }
  }
  .logo{
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      left: 10%;
  }
  .row-1{
    margin:10px 0 50px 0;
    background-color: rgba(222, 215, 215, 0.133);
}
  .about{
    height: 70vh;
    width: 100%;
    margin-top: 20px;;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    position: relative;
}
.dp img{
    width: 30%;
    height: 68vh;
    position: absolute;
    top:0;
    right:13%;
}
.column3{
    width: 50.4%;
    height: 78vh;
    color:white;
    position: absolute;
    left:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name {
    font-size: 30px;
    margin: 20px;
    position: absolute;
    top:33%;
    left:13%;
    right: 15%;
}
.self {
    font-size: 18px;
    margin: 10px;
    position: absolute;
    bottom:40%;
    left:15%;
    right: 15%;

}
.about-page{
    font-size: 23px;
    position: absolute;
    bottom: 30%;
    left:18%;
}
.about-page a span{
  position: relative;
  z-index: 100;
}
.about-page a{
  position: relative;
  padding: 15px 30px;
  border: 2px solid rgb(255, 0, 0);
  margin: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
  transition: 0.5s;
}
.about-page a:hover{
  color:black;
  box-shadow: 0 0 10px rgb(255, 0, 0),
              0 0 20px rgb(255, 0, 0),
              0 0 80px rgb(255, 0, 0),
              0 0 160px rgb(255, 0, 0);
}
.about-page a::before{
  content: "";
  position: absolute;
  left: -20px;
  top:50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: rgb(255, 0, 0);
  box-shadow: 5px -8px 0 rgb(255, 0, 0),
              5px 8px 0 rgb(255, 0, 0);
 transition: width 0.5s,left 0.5s,height 0.5s,box-shadow 0.5s;
 transition-delay: 1s,0.5s,0s,0s;

}
.about-page a:hover::before{
  width: 60%;
  height: 100%;
  left:-2px;
  box-shadow: 5px 0px 0 rgb(255, 0, 0),
              5px 0px 0 rgb(255, 0, 0);
 transition-delay: 0s ,0s ,0.5s,1s;
}
.about-page a::after{
  content: "";
  position: absolute;
  right: -20px;
  top:50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: rgb(255, 0, 0);
  box-shadow: -5px -8px 0 rgb(255, 0, 0),
              -5px 8px 0 rgb(255, 0, 0);
 transition: width 0.5s,left 0.5s,height 0.5s,box-shadow 0.5s;
 transition-delay: 1s,0.5s,0s,0s;

}
.about-page a:hover::after{
  width: 60%;
  height: 100%;
  right:-2px;
  box-shadow: -5px 0px 0 rgb(255, 0, 0),
              -5px 0px 0 rgb(255, 0, 0);
 transition-delay: 0s ,0s ,0.5s,1s;
}
.name :nth-child(1){
    color: blue;
}
.name :nth-child(2){
    color: red;
}
h2{
    font-size: 50px;
    text-align: center;
    margin: 0 0 10px 0;
}
footer{
  margin-top: 100px;
  position:relative;
  width: 100%;
  background-color: blue;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .social-icon,footer .email,footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}
footer li,.email li {
  list-style: none;
}
footer .social-icon li a,footer .email-icon {
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social-icon li a:hover,footer .email-icon:hover{
  transform: translateY(-10px);
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: sans-serif;
  position: relative;
}
.menu{
  display: flex;
  justify-content: space-between;
  padding:0;
  margin: 0;
  list-style: none;
  text-align:right;
  position: absolute;
}
.menu li{
  list-style: none;
  display: inline-block;
}
.menu a,.email-1{
  color:white;
  font-size: 1.2rem;;
  padding:1px 25px;
  text-decoration: none;
  text-align:center;
  display: block;
}
.menu a:hover{
  background-color: white;
  color: black;
}
footer .wave{
  top:-100px;
  left:0;
  width: 100%;
  height: 100px;
  background: url(Image/wave.png);
  background-size: 1000px 100px;
  position: absolute;
}
footer .wave.wave1{
  z-index: 1000;
  opacity: .3;
  bottom: 0;
  animation: wave 4s linear infinite;
}
@keyframes wave {
  0%{
      background-position: 1000px;
  }
  100%{
      background-position: 0px ;
  }
}
footer .wave.wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: wave2 5s linear infinite;
}
@keyframes wave2 {
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: 1000px ;
  } 
}
footer .wave.wave3{
  z-index: 998;
  opacity: 0.7;
  bottom: 20px;
  animation: wave3 5s linear infinite;
}
@keyframes wave3 {
  0%{
      background-position-x: 1000px;
  }
  100%{
      background-position-x: 0px ;
  } 
}
footer .wave.wave4{
  z-index: 997;
  opacity: 0.5;
  bottom: 25px;
  animation: wave4 10s linear infinite;
}
@keyframes wave4 {
  0%{
      background-position-x: -1000px;
  }
  100%{
      background-position-x: 0px ;
  } 
}