*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   background-color: black;
   font-family: sans-serif;
   color: white;
}
.row1,.work,.row-3{
    margin:10px 0 50px 0;
}
.toggle input{
    display: none;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: sans-serif;
    position: relative;
  }
  .logo img{
    width:10%;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    padding:0;
    margin: -10px 0 0 0;
    list-style: none;
    text-align:right;
    position: absolute;
    right: 3%;
  }
  .nav-links li{
    list-style: none;
    display: inline-block;
  }
  .nav-links a{
    color:white;
    font-size:20px;
    padding:5px 15px;
    text-decoration: none;
    text-align:right;
    display: block;
  }
  .nav-links a:hover{
    background-color: white;
    color: black;
  }
  .bar{
    display: none;
  }
  .bar div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  @media screen and (max-width:1024px)  {
    .nav-links{
      width:60%;
    }
  }
  @media screen and (max-width:768px)  {
  body{
    overflow-x: hidden;
  }
    .nav-links{
      position: absolute;
      right: 0;
      height: 50vh;
      top:8vh;
      background: black;
      display: flex;
      flex-direction: column;
      align-items:center;
      width: 30%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 1;
    }
    .nav-links li{
      opacity: 0;
    }
    .toggle input:checked~.nav-links{
      transform: translateX(0);
    }
    .toggle input:checked~.nav-links li{
      opacity: 1;
      transition: 1s ease-in;
    }
    .bar{
      display: block;
    }
  }
  .logo{
      font-size: 30px;
      font-weight: bold;
  }
  .hero{
      width: 100%;
      height: 78vh;
      background-color: white;
  }
  .btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.2rem;
    position: relative;
    color: black;
  }
  .btn::after,.btn::before{
    border: 3px solid rgba(0,0,0,.3);
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    bottom: 0;
    transition: transform .3s ease;
  }
  .btn:hover::after{
    transform: translate(-5px,-5px);
  }
  .btn:hover::before{
    transform: translate(5px,5px);
  }
  